<?xml version ="1.0" encoding="utf-8" ?>
<!--
Please note: to use healthcheck notifications you must ensure to set the umbracoApplicationUrl value
in umbracoSettings.config.  For more information on this setting, please see:
https://our.umbraco.org/documentation/reference/config/umbracosettings/#web-routing

For details on the format of this configuration file see:
https://our.umbraco.org/documentation/reference/config/healthchecks
-->
<HealthChecks>
  <disabledChecks>
    <!--<check id="1B5D221B-CE99-4193-97CB-5F3261EC73DF" disabledOn="" disabledBy="0" />-->
  </disabledChecks>
  <notificationSettings enabled="true" firstRunTime="" periodInHours="24">
    <notificationMethods>
      <notificationMethod alias="email" enabled="true" verbosity="Summary">
        <settings>
          <add key="recipientEmail" value="" />
        </settings>
      </notificationMethod>
    </notificationMethods>
    <disabledChecks>
      <!--<check id="EB66BB3B-1BCD-4314-9531-9DA2C1D6D9A7" disabledOn="" disabledBy="0" />-->
    </disabledChecks>    
  </notificationSettings>
  <customCheckSettings>
      <checkSetting key="" value=""
      />
      <checkSetting id="a3949eab-3932-4600-989e-24a6c5a127e4" name="DeveloperFilesInRootCheck">
          <!-- This is a whitelist of files allowed in the root. Add each entry as a regexp, use a friendly name for the key and the regexp as the value attribute -->
          <app key="404.aspx" value="404\.aspx" />
          <app key="404.html" value="404\.html" />
          <app key="500.aspx" value="500\.aspx" />
          <app key="500.html" value="500\.html" />
          <app key="bingsiteauth.xml" value="bingsiteauth\.xml" />
          <app key="browserconfig.xml" value="browserconfig\.xml" />
          <app key="favicon*.*" value="favicon.*?\..*?" />
          <app key="google.*.html" value="google.*?\.html" />
          <app key="humans.txt" value="humans\.txt" />
          <app key="imagegen.ashx" value="imagegen\.ashx" />
          <app key="loaderio-*.txt" value="loaderio-.*?\.txt" />
          <app key="robots.txt" value="robots\.txt" />
      </checkSetting>
  </customCheckSettings>
</HealthChecks> 